.hall-management-container > .land-cards-container > .land-cards > .pack-card {
    background: #11CBF933 0% 0% no-repeat padding-box;
    border-radius: 20px;
    width: fit-content;
    padding: 28px;
    text-align: center;
    max-width: 98%;
    width: 296px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.hall-management-container > .land-cards-container > .land-cards > .pack-card > .image {
    margin-bottom: 3px;
    position: relative;
    width: 88%;
    margin: 0 auto;
    margin-bottom: 3px;
}

.hall-management-container > .land-cards-container > .land-cards > .pack-card > .image > .imgs > .bck-img{
    position: relative;
}

.hall-management-container > .land-cards-container > .land-cards > .pack-card > .image > .imgs > .top-img{
    position: absolute;
    transform: translate(0, -100%);
}

.hall-management-container > .land-cards-container > .land-cards > .pack-card > .open-pack-button {
    background: transparent linear-gradient(3deg, #FFCE00 0%, #FFF61C 100%) 0% 0% no-repeat padding-box;
    border: 4px solid #AD6B00;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 16px;
    cursor: pointer;
}

.hall-management-container > .land-cards-container > .land-cards > .pack-card > .loading-disabled:hover {
    transform: scale(1.05);
    animation: 0
}

.hall-management-container > .land-cards-container > .land-cards > .pack-card > .loading-enabled{
    opacity: 0.5;
    cursor: default;
}

.hall-management-container > .land-cards-container > .land-cards > .pack-card > .type-pack{
    margin-top: 16px;
}

.hall-management-container > .land-cards-container > .land-cards > .pack-card > .type-land{
    margin-top: 50px;
}

.hall-management-container > .land-cards-container > .land-cards > .pack-card > .open-pack-button > p {
    text-align: center;
    font: normal normal bold 20px "Oswald";
    letter-spacing: -0.26px;
    color: #6C4200;
}

.hall-management-container > .land-cards-container > .land-cards > .pack-card > p {
    text-align: center;
    font: normal normal bold 25px "Oswald";
    letter-spacing: -0.26px;
    color: #FFFFFF;
}

.hall-management-container > .land-cards-container > .land-cards > .pack-card > .land-claimed {
    text-align: center;
    font: normal normal bold 25px "Oswald";
    letter-spacing: -0.26px;
    color: #FFFFFF;
    margin-top: 50px;
}

.hall-management-container > .land-cards-container > .land-cards > .pack-card > .image >.mint-number {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 19px;
    position: absolute;
    top: -15px;
    right: 2px;
    padding: 5px 10px;
}

.hall-management-container > .land-cards-container > .land-cards > .pack-card > .image >.map-id {
    position: absolute;
    color: white;
    font: normal normal 500 16px "Oswald";
    bottom: 0;
    left: 5px;
    text-shadow: 2.9px 3.9px 5px black;
}

.hall-management-container > .land-cards-container > .land-cards > .pack-card > .image >.loading {
    position: absolute;
    width: 30%;
    top: 35%;
    left: 35%;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.hall-management-container > .land-cards-container > .land-cards > .pack-card > .land-card-info {
    text-align: center;
    font: normal normal 300 20px "Oswald";
    letter-spacing: -0.94px;
    color: #11CBF9;
}

.hall-management-container > .land-cards-container > .land-cards > .pack-card > .land-card-info > span {
    text-align: center;
    font: normal normal 500 20px "Oswald";
    letter-spacing: -0.94px;
    color: #11CBF9;
    margin-right: 5px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}