.stats-table-container {
    margin-top: 40px;
}

.stats-table-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.2rem solid;
    border-bottom: 0.2rem solid;
    padding: 10px 0px;
}

.stats-table-header > div {
    color: #ffffff;
    flex: 1;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.stats-table-header > div.border-right {
    border-right: 0.2rem solid #4A515A;
}

/* css for table row */

.stats-table-container > .stat-table-row {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.2rem solid;
    padding: 10px 0px;
}

.stats-table-container > .stat-table-row > div {
    flex: 1;
    text-align: center;
}

.stats-table-container > .stat-table-row > .land {
    color: #ffffff;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.stats-table-container > .stat-table-row > .id {
    color: #11CBF9;
    font-size: 20px;
    letter-spacing: normal;
    font-weight: lighter;
}

.stats-table-container > .stat-table-row > .dead-orcs {
    color: #FFEE57;
    font-size: 20px;
    letter-spacing: normal;
}

.stats-table-container > .stat-table-row > .last-played {
    color: #11CBF9;
    font-size: 20px;
    letter-spacing: normal;
}