.coin-display {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 24px;
    color: #2781c1;
}
.coin-display .carbz-jigo {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
    flex: 1;
}
.coin-display .carbz-jigo .pair {
    display: flex;
    align-items: center;
    margin-top: 0px;
}
.coin-display .carbz-jigo .pair img {
    width: auto;
    height: 20px;
}
.coin-display .carbz-jigo .pair span {
    font-size: 14px;
    color: #001a44;
}
